.login-container-right-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  padding: 0 50px;
  background-color: white;
  border-radius: 20px;
}
.login-container-left-section {
  width: 50%;
  border-radius: 20px;
}
.login-input {
  height: 35px;
  background: aliceblue;
  border: 1px solid #e7e7e7;
  padding: 0 10px;
  border-radius: 5px;
}
.login-button {
  background: #0095f6;
  border: none;
  color: white;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
}
.login-container {
  display: flex;
  width: 60%;
  margin: 100px auto;
  gap: 30px;
}
